:root{
    --fontsizeTitle: 180%;  
    --fontsizeSectionTitle: 160%; 
    --fontsizesubTitle: 130%;
    --fontsizeBody: 120%;
    --contentMaxWidth: 1500px;

}


html {
    font-family: Poppins, Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    max-width: var(--contentMaxWidth);
    margin:0px auto;
}

#title {
    color: rgb(49, 87, 44);
    text-align: center;
    font-size: var(--fontsizeTitle);
    font-weight: 600;
    flex: 1;
    text-decoration: none;
}

#headshot {
    width: 20%;
    float: right;
    margin-left: 1em;
    margin-bottom: 3em;
    margin-right: 4em;
}

#intro {
    text-align: right;
    font-size: var(--fontsizeTitle);
}

#introP {
    font-size:var(--fontsizeBody);
    text-align: justify;
    margin-left: 65%;
}

#navbar {
    margin-right: 1em;

}

#topLine{
    width: 35%;
    color:rgb(49, 87, 44);
    background-color:rgb(49, 87, 44);
    float: left;

}

#allContent{
    max-width:var(--contentMaxWidth);
    margin:0px auto;
}

#options {
    color: rgb(49, 87, 44);
}

#options a:link, #options a:visited {
    color: rgb(49, 87, 44);
    text-decoration: none;
}

#options a:hover {
    color: rgb(0, 0, 0);
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
    background: rgb(49, 87, 44);
    width: 100%;
    padding-top: 3em;
}

.text {
    flex: 1;
}

#secondPara{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
flex-shrink: 0;
}

#picsOne{
    margin-top: 5em;
    width: 30em;
    height:35em;
    margin-left: 5%;
}

#title2{
    margin-left: 10%;
    margin-top: 5em;
    text-align: right;
    margin-right: 28%;
    font-size: var(--fontsizeSectionTitle);
}

#sTitle2{
    font-size: var(--fontsizesubTitle);
    text-align: left;
    margin-left: 30%;

}
#para2{
    font-size:var(--fontsizeBody);
    text-align: justify;
    margin-left: 30%;
    margin-right: 15%;
}

#title3{
    margin-top: 7em;
    text-align: left;
    margin-left: 20%;
    font-size: var(--fontsizeSectionTitle);
}

#sTitle3{
    font-size: var(--fontsizesubTitle);
    text-align: left;
    margin-left: 20%;
}
#para3{
    font-size:var(--fontsizeBody);
    text-align: justify;
    margin-right: 25%;
    margin-left: 20%;
}

#title4{
    text-align: right;
    margin-right: 81%;
    font-size: var(--fontsizeSectionTitle);
}

#sTitle4{
    font-size: var(--fontsizesubTitle);
    text-align: left;
    margin-left: 0%;
}
#para4{
    font-size: var(--fontsizeBody);
    text-align: justify;
    margin-right: 20%;
}

#secondLine{
    margin-top: 6em;
    height: 5em;
    width:40em;
    float: right;
    background-color:rgb(49, 87, 44);
    color:rgb(49, 87, 44);
}

#thirdPara{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}
#picsTwo{
    height: 28em;
    width:41em;
    margin-top: 5em;
    margin-right: 5%;
}
#picsThree{
    margin-top: 10em;
    width:75em;
    height:35em;
    margin-left: 5%;
}
